<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.emobi.bjain"
        >
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="25" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.emobi.bjain.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAtWZLzKSVMtmC7ybSdPMPRQZzAX4Ml3QE" />
        <!-- <activity android:name=".activity.SplashActivity" /> -->
        <activity
            android:name="com.emobi.bjain.activity.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.CategoryActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.FeatureViewAllActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.ProductViewActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.RegistrationActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.ZxingScanner"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.LoginActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.MyAccountActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.ContactUsActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.OrderActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.OrderDetailActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.WishListActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.CommingSoonActitivy"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.emobi.bjain.activity.CartCheckOutActivity"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name="com.emobi.bjain.activity.AddNewAddressActivity" />
        <activity android:name="com.emobi.bjain.activity.CartPaymentWebViewActivity"></activity>
    </application>

</manifest>